@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.one {
    background-color: darkkhaki;
}

.two {
    background-color:crimson;
}

.three {
    background-color:forestgreen;
}

.four {
    background-color:deepskyblue;
}