* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #bbb;
    color: aliceblue;
}

.js-calculator {
    width: 530px;
    height: 280px;
    margin: 250px auto;
    background-color: #18513b;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.result {
    color: #8b8b8b;
    width: 200px;
    background-color: white;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 0px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 35px;
}

.operations-block button {
    width: 60px;
    height: 60px;
    margin: 20px 15px;
    font-size: 25px;
    color: #fff;
    background-color: #2f773a;
    font-weight: 500;
    border: 0;
    outline: 0;
    border-radius: 15px;
    transition: transform all 0.8s;
}

button:hover {
    transform: scale(0.98);
    transition: transform all 0.8s;
}

.input-block{
    display: inline-block;
    padding: 10px;
}

.input-block label {
    display:block;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 600;
}

.input-block input {
    color: #5c5c5c;
    padding: 5px;
    border-radius: 8px;
    border: none;
    width: 230px;
    height: 45px;
    font-size: 25px;
    accent-color: #2aa237;
}